"console_url": "console-openshift-console.apps.cluster-{{ guid }}.dynamic.redhatworkshops.io"
"gitea_console_url": "https://gitea.apps.cluster-{{ guid }}.dynamic.redhatworkshops.io"
"gitea_password": "{{ workshop_password }}"
"gitea_user": "user{{ item }}"
"guid": "{{ guid }}"
"login_command": "oc login --insecure-skip-tls-verify=false -u user{{ item }} -p M{{ workshop_password }} https://api.cluster-{{ guid }}.dynamic.redhatworkshops.io:6443"
"openshift_cluster_ingress_domain": "apps.cluster-{{ guid }}.dynamic.redhatworkshops.io"
"openshift_console_url": "https://console-openshift-console.apps.cluster-{{ guid }}.dynamic.redhatworkshops.io"
"password": "{{ workshop_password }}"
"user": "user{{ item }}"
"git_branch": "{{ git_branch }}"
